<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Loan Status Predictor</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="header">
        <nav>
            <a href="index.html">
            <img src="{{url_for('static', filename='images/logo.png')}}" style="width: 100px;
  height: 100px;">
            </a>
            <div class="nav-links">
            <ul>
                <li><a href="/" >HOME</a></li>
                <li><a href="loanpred" >LOAN PREDICTION</a> </li>
                <li><a href="individual" >INDIVIDUAL LOAN</a> </li>
                <li><a href="joint" >JOINT LOAN</a> </li>
                </ul></div>
            
        </nav>
      <div class="text-box2">
            <h1>Choose your type of loan !</h1>
            <p>Some prefer to take loan individually or joint where by pooling your incomes together while making a joint loan application,you will be eligible for a higher loan amount </p>
            <a href="individual" class="hero-btn2">Individual</a>
            <a href="joint" class="hero-btn3">Joint</a>
    </div>  
        </section>
    </body>
</html>